@{
    ViewData["Title"] = "Admin";
}

@model mvc.Models.Article
<form class="form-horizontal rainbow-background" method="post" asp-controller="Shop" asp-action="AddArticle">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td colspan="3" class="text-center">Article Form</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name:</td>
            <td><input type="text" class="form-control" asp-for="Name"/></td>
            <td><span class="text-danger" asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td>Beschreibung:</td>
            <td><input type="text" class="form-control" asp-for="Description"/></td>
            <td><span class="text-danger" asp-validation-for="Description"></span></td>
        </tr>
        <tr>
            <td>Preis:</td>
            <td><input type="number" class="form-control" asp-for="Price"/></td>
            <td><span class="text-danger" asp-validation-for="Price"></span></td>
        </tr>
        <tr>
            <td>Typ:</td>
            <td>
                <select class="form-control" asp-for="ArticleType" asp-items="Html.GetEnumSelectList<mvc.Models.ArticleType>()"></select>
            </td>
            <td><span class="text-danger" asp-validation-for="ArticleType"></span></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="submit" class="btn btn-primary" value="Add Article"/>
                <input type="reset" class="btn btn-secondary" value="Reset"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
