<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar bg-body-color navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-md-start">
        <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
        <a class="nav-link active" aria-current="page" href="/Home/Imprint">Imprint</a>
        <a class="nav-link active" aria-current="page" href="/User/Registration">Registration</a>
        <a class="nav-link active" aria-current="page" href="/User/Login">Login</a>
    </div>
    <div class="container-fluid justify-content-md-end">
        @if (Context.Session.GetString("Username") != null)
        {
          <span class="navbar-text">@Context.Session.GetString("Username")</span>
        }
    </div>
</nav>
<div class="ms-3">
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true"/>
</head>
</html>
