<!DOCTYPE html>
<html lang="en">
<body style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);">
<nav class="navbar bg-body-color navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-md-start">
        <a class="nav-link active rainbow-text" aria-current="page" href="/Home/Index">Home</a>
        <a class="nav-link active rainbow-text" aria-current="page" href="/Home/Imprint">Imprint</a>
        <a class="nav-link active rainbow-text" aria-current="page" href="/Shop/Index">Shop</a>
        <a class="nav-link active rainbow-text" aria-current="page" href="/Shop/Cart">Shopping Cart</a>
    </div>
    <div class="container-fluid justify-content-md-end">
        @if (Context.Session.GetString("Username") != null)
        {
          <form method="post" asp-controller="User" asp-action="Logout">
            <input type="submit" class="btn rainbow-button" value="Logout"/>
          </form>
          <span class="navbar-text">@Context.Session.GetString("Username")</span>
        }
        <a class="nav-link active rainbow-text" aria-current="page" href="/User/Registration">Registration</a>
        <a class="nav-link active rainbow-text" aria-current="page" href="/User/Login">Login</a>
    </div>
</nav>
<div class="ms-3">
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true"/>
</head>
</html>
